:root{
    --text-color:#fff;
    --background-color:#000;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}
h1{
    text-align: center;
}
body:has(.darkmode:checked){
    --text-color:#000;
    --background-color:#fff;
}
.darkmode{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background-color: transparent;
}
body{
    place-items: center;
    display: grid;
    min-height: 100vh;
    overflow: hidden;
    cursor: pointer;
}


div.a {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow:  clip; 
  }
  
div.b {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
  
div.c {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
}

.gradient {
    height: 200px;
    background-color: red;
    background-image: linear-gradient(red, yellow);
}
